.wrapper {
  width: 100%;
}

.section {
  width: 100%;
  padding: var(--spacing-xl) 0;
  min-height: 400px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .section {
    padding: var(--spacing-2xl) 0;
  }
}
